.loader {
  margin: auto;
  position: relative;
  display: inline-block;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #5968bb;
}

.loading::before {
  content: '';
  position: absolute;
  left: 34px;
  bottom: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid #5968bb;
  border-bottom-color: #1b4cb8;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
